/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.btn-storenvy,
a.btn-storenvy,
a:active.btn-storenvy {
position: absolute;
  width:152px;
  height:18px;
  padding: 7px 12px 7px 25px;
  text-indent: 18px;
  border-radius:4px;
  color:white;
  font-family:"Lucida Grande";
  font-style:normal;
  font-size:12px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.35);
  color:rgb(255,255,255);
  text-shadow:0px 1px 0px rgba(0,0,0,0.35);
  border: 1px solid rgb(52,88,107);
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(103,157,191) 0%,rgb(92,124,145) 100%); 
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(103,157,191)),color-stop(1, rgb(92,124,145)));
  background-image:-webkit-linear-gradient(-90deg,rgb(103,157,191) 0%,rgb(92,124,145) 100%);
  background-image:-o-linear-gradient(-90deg,rgb(103,157,191) 0%,rgb(92,124,145) 100%);
  -moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.2);
  -webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.2);
  box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.2);
}
a:hover.btn-storenvy {
  color:white;
  text-decoration:none;
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(79,133,173) 0%,rgb(70,95,119) 100%); 
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(79,133,173)),color-stop(1, rgb(70,95,119)));
  background-image:-webkit-linear-gradient(-90deg,rgb(79,133,173) 0%,rgb(70,95,119) 100%);
  background-image:-o-linear-gradient(-90deg,rgb(79,133,173) 0%,rgb(70,95,119) 100%);
}
a:active.btn-storenvy {
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(77,115,149) 0%,rgb(103,157,191) 100%); 
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(77,115,149)),color-stop(1, rgb(103,157,191)));
  background-image:-webkit-linear-gradient(-90deg,rgb(77,115,149) 0%,rgb(103,157,191) 100%);
  background-image:-o-linear-gradient(-90deg,rgb(77,115,149) 0%,rgb(103,157,191) 100%);
}
.btn-storenvy i {
  background: url(../img/storenvy-btn-icon.png) no-repeat 10px 50%;
  width: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid rgb(55,93,113);
  box-shadow: 1px 0px 0px rgba(255,255,255,.3);
}
.btn-storenvy.on-dark,
a:hover.btn-storenvy.on-dark,
a:active.btn-storenvy.on-dark {
    border: 1px solid rgb(0,0,0);
}